.DocumentEditor {
  padding: 16px;
}

.DocumentEditor__title {
  background-color: transparent;
  border: 0;
  color: hsl(0, 0, 30);
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
  resize: none;
  padding: 0;
  width: 100%;

  &:focus {
    outline: 0;
  }
}
