.SideMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.SideMenu__row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 61px;
  padding: 0 12px;
  border-bottom: 1px solid hsl(0, 0, 90);
}

.SideMenu__documents {
  flex: 1;
  overflow: scroll;
}
