.Toolbar {
  align-items: center;
  display: flex;
  height: 60px;
  padding: 0 16px;
}

.Toolbar__button {
  padding: 0 2px;
}

.Toolbar__divider {
  border-right: 1px solid hsl(0, 0, 85);
  height: 40%;
  margin: 0 8px;
}
