.Toolbar {
  align-items: center;
  display: flex;
  height: 60px;
}

.Toolbar__button {
  background-color: transparent;
  border: 0;
  color: hsl(0, 0, 60);
  font-size: 15px;
  padding: 4px;

  &:hover {
    color: hsl(0, 0, 40);
  }

  &:active {
    color: hsl(0, 0, 60);
  }

  &:focus {
    outline: 0;
  }
}
